<section class="container-testemunhos" id = "testemunhos">
    <div class="bloco-testemunhos">
        <h4 class="titulo-personalizado">Testemunhos</h4>
        <h1 class="titulo-principal">Como a Casa de Maria já te ajudou?</h1>

        <p class="texto-testemunhos">
            Deixe para nós o seu depoimento e expresse a sua gratidão!
        </p>

        <div class="container-formulario">
            <lp-form></lp-form>
        </div>

        <button class = "next-button" (click) = "mudaBloco()"><img class = "next-button-img" src = "assets/arrow.png"></button>
    </div>
</section>
