<section class="container-testemunhos">
    <div class="bloco-testemunhos">
        <h4 class="titulo-personalizado">Testemunhos</h4>
        <h1 class="titulo-principal">Como a Casa de Maria já te ajudou?</h1>

        <p class="texto-testemunhos">
            Deixe para nós o seu depoimento e expresse a sua gratidão!
            <br><br>
            Você pode deixar um depoimento escrito no tamanho que quiser ou enviar um vídeo de até 2 minutos, que
            poderão ser exibidos em nossas lives. Escolha a forma que mais lhe agradar para enviar!
        </p>

        <div class="container-formulario">
            <lp-form></lp-form>
            <lp-form-video></lp-form-video>
        </div>
    </div>
</section>