* {
  font-family: "Montserrat";
}

.titulo-personalizado {
  font-family: "Signature";
  color: #ff7e00;
}

.titulo-principal {
  color: #3685df;
  text-align: center;
  font-weight: 600;
}

.texto-testemunhos {
  color: #757575;
}

.bolder {
  font-weight: 600;
}

.bloco-testemunhos {
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}

.titulo-principal {
  font-size: 30px;
  margin-top: -10px;
}

.titulo-personalizado {
  text-align: center;
  font-size: 40px;
}

.texto-testemunhos {
  margin-top: 2em;
  font-size: 17px;
  line-height: 20px;
}

.next-button {
  border-style: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  background-color: transparent;
}

.next-button-img{
  width: 100px;
  height: 100px;
}
@media (max-width: 1018px) and (min-width: 768px) {
  .bloco-testemunhos {
    padding: 4em 0;
  }

  .texto-testemunhos {
    margin-top: 2em;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .bloco-testemunhos {
    padding: 9em 0;
  }

  .titulo-principal {
    font-size: 50px;
  }
  .texto-testemunhos {
    margin-top: 2em;
    font-size: 20px;
    line-height: 25px;
  }

  .titulo-personalizado {
    text-align: center;
    font-size: 55px;
  }
}

@media (min-width: 1141px) {
  .bloco-testemunhos {
    width: 80%;
    padding: 9em 0;
  }

  .titulo-principal {
    font-size: 55px;
  }
  .texto-testemunhos {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .titulo-personalizado {
    text-align: center;
    font-size: 60px;
  }

  .container-formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .bloco-testemunhos {
    width: 62%;
    padding: 9em 0;
  }
  .texto-testemunhos {
    font-size: 20px;
    line-height: 25px;
  }
  .container-formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
  }

}
