<section class="bloco-transmissoes"id = "transmissoes">

    <div class="bloco-1">

        <div class="bloco-1-texto">
            <h4 class="subtitulo-transmissoes">Transmissões ao vivo</h4>
            <h1 class="titulo-transmissoes">A Espiritualidade não tem barreiras</h1>

            <p class="texto-transmissoes">E pensando em levar esse amparo espiritual para cada vez mais pessoas,
                começamos a intensificar nossas transmissões diárias desde 2020. Atualmente, contamos com mais de
                9.500.000 horas de conteúdos voltados ao auxílio da espiritualidade. Já realizamos mais de 400 lives,
                onde mais de 5 mil pessoas recebem diariamente essa assistência dos irmãos de luz. Uma média de
                1.825.000 pessoas assistidas anualmente pela espiritualidade por meio das nossas transmissões.
            </p>

        </div>
        <img class="img-transmissoes maos" src="assets/transmissao.jpg">

    </div>
    <section class = "bloco-auxilio-numeros" style = "background-image: url('assets/transmissao2.jpg');">
        <h2 class = "titulo-auxilio-numeros">A ampliação do auxílio espiritual em números</h2>
        <ul class = "lista-auxilio">
            <li class = "lista-opcao-auxilio">
                <p class = "titulo-lista-auxilio-numeros">Horas de conteúdos assistidos</p>
                <h2 class = "auxilio-numeros">+9.500.000</h2>
            </li>
            <li class = "lista-opcao-auxilio">
                <p class = "titulo-lista-auxilio-numeros">Lives</p>
                <h2 class = "auxilio-numeros">+400</h2>
            </li>
            <li class = "lista-opcao-auxilio">
                <p class = "titulo-lista-auxilio-numeros">Assistidos anualmente</p>
                <h2 class = "auxilio-numeros">1.825.000</h2>
            </li>
        </ul>
    </section>
    <video class="video-transmissoes" width="100%" controls preload>
        <source width="100%" src="assets/testemunhos-das-lives-tems.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <button class="botao-quero-doar"><a class = "botao-pix" href = "https://tems.com.br/doacao-pix/" target="_blank">QUERO FAZER PARTE</a></button>
    <button class = "next-button" (click) = "mudaBloco()"><img class = "next-button-img" src = "assets/arrow2.png"></button>
</section>
