<section class="bloco-transmissoes">

    <div class="bloco-1">

        <div class="bloco-1-texto">
            <h4 class="subtitulo-transmissoes">Transmissões ao vivo</h4>
            <h1 class="titulo-transmissoes">A Espiritualidade não tem barreiras</h1>

            <p class="texto-transmissoes">E pensando em levar esse amparo espiritual para cada vez mais pessoas,
                começamos a intensificar nossas transmissões diárias desde 2020. Atualmente, contamos com mais de
                9.500.000 horas de conteúdos voltados ao auxílio da espiritualidade. Já realizamos mais de 400 lives,
                onde mais de 5 mil pessoas recebem diariamente essa assistência dos irmãos de luz. Uma média de
                1.825.000 pessoas assistidas anualmente pela espiritualidade por meio das nossas transmissões.
            </p>

        </div>
        <img class="img-transmissoes maos" src="assets/transmissao.jpg">

    </div>
    <video class="video-transmissoes" width="100%" controls preload>
        <source width="100%" src="assets/MAT_NEU_AMP_CESTA_BASICA_080120.m4v" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <button class="botao-quero-doar">QUERO DOAR</button>
</section>