<section class="bloco-doacao">
    <div class="bloco-1">
        <div class="bloco-1-texto">
            <h4 class="subtitulo-doacao">Toda ajuda é bem-vinda!</h4>
            <h1 class="titulo-doacao">Outras formas de ajudar</h1>
            <p class="texto-doacao">Divulgue a campanha e nos ajude a arrecadar doações. Outra ajuda importantíssima é o
                compartilhamento das nossas transmissões, lembrar de se inscrever em nosso canal, se tornar membro ou
                apoiador dos nossos canais e, claro, não se esquecer dos likes! Assim, como você hoje tem a oportunidade
                de receber essas mensagens edificantes, mais e mais pessoas também poderão conhecer a nossa Casa e esse
                trabalho de amor e luz. Contamos com você!
            </p>
        </div>
        <img class="img-doacao maos" src="assets/formas-ajudar.jpg">
    </div>
    <ul class="lista-icones">
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/acompanhar.png" alt="">
                <figcaption class = "icone-texto">Acompanhe</figcaption>
            </figure>
        </li>
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/compartilhar.png" alt="">
                <figcaption class = "icone-texto">Compartilhe</figcaption>
            </figure>
        </li>
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/instagram.png" alt="">
                <figcaption class = "icone-texto">Siga-nos</figcaption>
            </figure>
        </li>
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/like.png" alt="">
                <figcaption class = "icone-texto">Curta</figcaption>
            </figure>
        </li>
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/youtube.png" alt="">
                <figcaption class = "icone-texto">Seja membro</figcaption>
            </figure>
        </li>
        <li class = "lista-icones-opcao">
            <figure  class = "icone-container">
                <img class="icones" src="assets/facebook.png" alt="">
                <figcaption class = "icone-texto">Torne-se um <br>apoiador</figcaption>
            </figure>
        </li>
    </ul>

    <button class="botao-quero-doar"><a class = "botao-pix" href = "https://tems.com.br/doacao-pix/" target="_blank">MANTER A CASA DE MARIA ABERTA</a></button>
    <button class = "next-button" (click) = "mudaBloco()"><img class = "next-button-img" src = "assets/arrow2.png"></button>
</section>
