<main class="container-main">
    <div class = "bloco-menu-principal" style = "background-image: url('assets/capa2.jpg');">
        <header class="cabecalho">

            <button class="hamburger" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <img class="logo-TEMS" src="assets/logo.png" alt="Logo do TEMS">

            <nav class="cabecalho-navegacao">
                <ul class=menu>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toSobre()">Sobre nós</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toAtendimentos()">Atendimentos</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toProjetos()">Projetos</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toTransmissoes()">Lives</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toDoacoes()">Como ajudar</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toTestemunhos()">Testemunhos</a></li>
                </ul>
            </nav>

            <button class="botao-doar">DOE AGORA</button>

        </header>
        <section class="bloco-principal">
            <div class="linha-cabecalho"></div>
            <div class="bloco-textos">
                <h1 class="titulo-principal"><span class="titulo-personalizado">Você faz parte da</span><br>MUDANÇA</h1>
                <h4 class="subtitulo-principal">A sua ajuda pode levar o alimento do corpo e da alma para centenas de
                    pessoas mensalmente. Faça parte, não fique à parte. Contribua e faça a diferença!</h4>
            </div>
        </section>
    </div>
<router-outlet></router-outlet>
</main>