<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
<main class="container-main">
    <div class = "bloco-menu-principal" style = "background-image: url('assets/capa2.jpg');">
        <header class="cabecalho">

            <button class="hamburger" type="button" (click)="openNav()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
              <a class = "opcao-menu-mobile" (click) = "toSobre()">Sobre nós</a>
              <a class = "opcao-menu-mobile" (click) = "toAtendimentos()">Atendimentos</a>
              <a class = "opcao-menu-mobile" (click) = "toProjetos()">Projetos</a>
              <a class = "opcao-menu-mobile" (click) = "toTransmissoes()">Lives</a>
              <a class = "opcao-menu-mobile" (click) = "toDoacoes()">Como ajudar</a>
              <a class = "opcao-menu-mobile" (click) = "toTestemunhos()">Testemunhos</a>
            </div>

            <img class="logo-TEMS" src="assets/logo.png" alt="Logo do TEMS">

            <nav class="cabecalho-navegacao">
                <ul class=menu>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toSobre()">Sobre nós</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toAtendimentos()">Atendimentos</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toProjetos()">Projetos</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toTransmissoes()">Lives</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toDoacoes()">Como ajudar</a></li>
                    <li class="menu-opcao"><a class="menu-opcao-link" (click) = "toTestemunhos()">Testemunhos</a></li>
                </ul>
            </nav>

            <button class="botao-doar"><a class = "botao-pix" href = "https://tems.com.br/doacao-pix/" target="_blank">DOE AGORA</a></button>

        </header>
        <section class="bloco-principal" id = "principal">
            <div class="linha-cabecalho"></div>
            <div class="bloco-textos">
                <h1 class="titulo-principal"><span class="titulo-personalizado">Você faz parte da</span><br>MUDANÇA</h1>
                <h4 class="subtitulo-principal">A sua ajuda pode levar o alimento do corpo e da alma para centenas de
                    pessoas mensalmente. Faça parte, não fique à parte. Contribua e faça a diferença!</h4>
            </div>
        </section>
    </div>
<router-outlet></router-outlet>
</main>
