<section class="container-sobre-casa">
  <div class="bloco-sobre-casa">
    <h4 class="titulo-personalizado">Você faz parte</h4>
    <h1 class="titulo-principal">A Casa de Maria</h1>

    <video class="video-sobre-casa" width="100%" controls preload>
      <source width="100%" src="assets/MAT_NEU_GLR_QUEM_SOMOS_160421.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <p class="texto-sobre-casa">
      O Templo Espiritual Maria Santíssima é uma casa religiosa, ecumênica, sem
      fins lucrativos e que tem como objetivo a vivência do amor incondicional
      ensinado por Jesus Cristo. <br /><br />

      Há 21 anos, a Casa de Maria vem trabalhando para que a paz e os
      sentimentos nobres permaneçam em todos os seus frequentadores e
      voluntários, levando auxílio espiritual para cada um, sem distinção de
      cor, crença, gênero ou ideologia. Além de ajudar na cura do corpo
      espiritual, presta assistência à comunidade, levando o alimento material
      para centenas de famílias carentes da região.

    </p>

    <section class="bloco-sobre-casa-21-anos">
      <img class="slide" src="assets/casa-de-maria.jpg" />
      <article class="bloco-texto-21-anos">
        <h4 class="titulo-personalizado titulo-21-anos">
          Há 21 anos florescendo transformações
        </h4>
        <p>
          Nesse tempo, as orientações e os esclarecimentos da Espiritualidade
          Superior vêm sendo trazidos e colocados em prática, diariamente, por
          meio da mediunidade e da caridade, em todo o mundo, presencial e
          virtualmente.
        </p>
      </article>
    </section>

    <section class="bloco-sobre-casa-dirigentes">
      <ul class="lista-dirigentes">
        <li>
          <img class="img-dirigentes" src="assets/jesus.jpg" />
        </li>
        <li>
          <img class="img-dirigentes" src="assets/maria.jpg" />
        </li>
        <li>
          <img class="img-dirigentes" src="assets/adolfo.jpg" />
        </li>
        <li>
          <img class="img-dirigentes" src="assets/gilberto.jpg" />
        </li>
      </ul>

      <p class="texto-dirigentes">
        Através da magia do tempo e dos ensinamentos, fomos nos lapidando,
        melhorando e vivenciando o amor incondicional ensinado por Jesus Cristo.
        E por meio Dele, das instruções de Maria Santíssima e do mentor
        espiritual da Casa, o Irmão Adolfo Schultz, e da perseverança do
        dirigente material, Gilberto Rissato, muitas obras foram materializadas
        na Terra.<br><br><span class="bolder">Foi com a ajuda de vocês que tudo isso pôde ser construído,
          que muitos corações podem ser acolhidos e confortados das mais diversas
          maneiras.</span>
      </p>

      <button class="botao-ajude-agora"><a class = "botao-pix" href = "https://tems.com.br/doacao-pix/" target="_blank">QUERO AJUDAR</a></button>
      <button class = "next-button" (click) = "mudaBloco()"><img class = "next-button-img" src = "assets/arrow.png"></button>
    </section>
  </div>
</section>
