<section class="container-sobre-casa">
  <div class="bloco-sobre-casa">
    <h4 class="titulo-personalizado">Você faz parte</h4>
    <h1 class="titulo-principal">A Casa de Maria</h1>

    <video class="video-sobre-casa" width="100%" height="450" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <p class = "texto-sobre-casa">O Templo Espiritual Maria Santíssima é uma casa religiosa, ecumênica, sem fins lucrativos e que tem como objetivo
      a vivência do amor incondicional ensinado por Jesus Cristo.
      <br><br>
      <span class = "bolder">Há 21 anos, a Casa de Maria vem trabalhando para que a paz e os sentimentos nobres permaneçam em todos os seus
      frequentadores e voluntários, levando auxílio espiritual para cada um, sem distinção de cor, crença, gênero ou
      ideologia. Além de ajudar na cura do corpo espiritual, presta assistência à comunidade, levando o alimento
      material para centenas de famílias carentes da região.</span>
    </p>
  </div>
</section>