* {
    font-family: "Montserrat";
}

.bloco-texto-atendimentos-espirituais {
    margin-right: auto;
}

.subtitulo-atendimentos-espirituais {
    font-family: "Signature";
    color: #ff7e00;
    text-align: center;
    font-size: 40px;
}

.titulo-atendimentos-espirituais {
    color: #3685df;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.texto-atendimentos-espirituais {
    color: #757575;
    margin: 2em 0;
}

.video-atendimentos-espirituais {
    margin-top: 3em;
}

.texto-personalizado {
    color: #3685df;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.texto-img-despesa {
    margin-top: 1em;
    text-align: center;
    color: #757575;
}

.botao-quero-doar {
    font-weight: 650;
    font-size: 1.2em;
    padding: 0.6em 2em;
    border-radius: 25px;
    background-color: #3685df;
    color: white;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao-quero-doar:focus {
    outline: none;
}

.botao-quero-doar:hover{
    background-color: white;
    color: #3685df;

    .botao-pix{
        color: #3685df;
    }
}

.botao-pix {
    text-decoration: none;
    color: white;
}

.botao-pix:hover{
    color: #3685df;
}
.bloco-atendimentos-espirituais {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-atendimentos-espirituais {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.maos {
    width: 100%;
}
.texto-atendimentos-espirituais {
    font-size: 17px;
    line-height: 20px;
}

.botao-quero-doar {
    display: block;
    margin: 0 auto;
}

.titulo-numeros {
    margin-top: 2em;
    font-size: 17px;
    line-height: 20px;
    font-weight: 650;
    text-align: center;
    color: #757575;
}

.bloco-numeros {
    margin: 2em 0;
    box-shadow: 0px 0px 15px 0px #dcdcdc;
    border-radius: 25px;
    width: 90%;
}

.numeros-linha {
    margin: 2em 0;
}

.numeros-linha:nth-child(2) {
    padding: 1em 0;
    border-top: 1.5px solid #dcdcdc;
    border-bottom: 1.5px solid #dcdcdc;
}

.numeros {
    font-size: 35px;
    font-weight: 600;
    color: #ff7e00;
    text-align: center;
    margin-bottom: 0.3em;
}

.numeros-texto {
    color: #757575;
    font-weight: 500;
    text-align: center;
}
.next-button {
    border-style: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    background-color: transparent;
  }
  
  .next-button-img{
    width: 100px;
    height: 100px;
  }
@media (max-width: 1018px) and (min-width: 768px) {
    .bloco-atendimentos-espirituais {
        margin: 4em auto;
    }

    .subtitulo-atendimentos-espirituais {
        text-align: left;
    }

    .titulo-atendimentos-espirituais {
        text-align: left;
        line-height: 45px;
    }

    .texto-atendimentos-espirituais {
        font-size: 20px;
        line-height: 25px;
    }

    .video-atendimentos-espirituais {
        margin-top: 4em;
        display: block;
    }
    .bloco-1,
    .bloco-2 {
        display: flex;
        align-items: center;
    }

    .bloco-1-texto {
        order: 2;
    }
    .img-atendimentos-espirituais {
        width: 50%;
        height: 50%;
        margin: 0;
    }
    .maos {
        order: 1;
    }

    .bloco-2-texto {
        text-align: right;
        width: 50%;
    }

    .mapa {
        width: 30%;
        margin: 0 auto;
    }

    .bloco-numeros {
        width: 70%;
    }

    .titulo-numeros {
        font-size: 25px;
    }

    .botao-quero-doar {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}

@media (max-width: 1140px) and (min-width: 1019px) {
    .bloco-atendimentos-espirituais {
        margin: 9em auto;
    }

    .subtitulo-atendimentos-espirituais {
        font-size: 55px;
        text-align: left;
    }

    .titulo-atendimentos-espirituais {
        text-align: left;
        font-size: 50px;
        line-height: 60px;
    }

    .texto-atendimentos-espirituais {
        font-size: 20px;
        line-height: 25px;
    }

    .video-atendimentos-espirituais {
        margin-top: 4em;
        display: block;
    }
    .bloco-1,
    .bloco-2 {
        display: flex;
        align-items: center;
    }

    .bloco-1-texto {
        order: 2;
    }
    .img-atendimentos-espirituais {
        width: 50%;
        height: 50%;
        margin: 0;
    }
    .maos {
        order: 1;
    }

    .bloco-2-texto {
        text-align: right;
        width: 50%;
    }

    .mapa {
        width: 30%;
        margin: 0 auto;
    }

    .bloco-numeros {
        height: 8em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .titulo-numeros {
        font-size: 25px;
    }

    .numeros-linha:nth-child(2) {
        padding: 0 1.8em;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;
    }

    .numeros-linha {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }

    .botao-quero-doar {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 1141px) {
    .bloco-atendimentos-espirituais {
        width: 80%;
        margin: 9em auto;
    }

    .subtitulo-atendimentos-espirituais {
        font-size: 60px;
        text-align: left;
    }

    .titulo-atendimentos-espirituais {
        text-align: left;
        font-size: 55px;
        line-height: 65px;
    }

    .texto-atendimentos-espirituais {
        font-size: 20px;
        line-height: 25px;
    }

    .video-atendimentos-espirituais {
        height: 30em;
        object-fit: cover;
        overflow: hidden;
        margin-top: 4em;
        display: block;
    }
    .bloco-1,
    .bloco-2 {
        display: flex;
        align-items: center;
    }

    .bloco-1-texto {
        order: 2;
    }

    .bloco-2 {
        margin-top: 3em;
    }

    .img-atendimentos-espirituais {
        width: 55%;
        height: 55%;
        margin: 0;
    }
    .maos {
        order: 1;
    }

    .bloco-2-texto {
        text-align: right;
        width: 50%;
        margin-left: 5%;
    }

    .mapa {
        width: 20%;
        margin: 0 auto;
    }

    .bloco-numeros {
        height: 8em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .numeros {
        font-size: 45px;
    }

    .numeros-texto {
        font-size: 18px;
    }

    .titulo-numeros {
        font-size: 25px;
    }

    .numeros-linha:nth-child(2) {
        padding: 0 1.8em;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;
    }

    .numeros-linha {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }

    .botao-quero-doar {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .bloco-atendimentos-espirituais {
        margin: 9em auto;
        width: 62%;
    }

    .subtitulo-atendimentos-espirituais {
        font-size: 55px;
        text-align: left;
    }

    .titulo-atendimentos-espirituais {
        text-align: left;
        font-size: 55px;
        line-height: 65px;
    }

    .texto-atendimentos-espirituais {
        font-size: 20px;
        line-height: 25px;
    }

    .video-atendimentos-espirituais {
        height: 30em;
        object-fit: cover;
        overflow: hidden;
        margin-top: 8em;
        display: block;
    }
    .bloco-1,
    .bloco-2 {
        display: flex;
        align-items: center;
    }

    .bloco-1-texto {
        order: 2;
    }
    .img-atendimentos-espirituais {
        width: 50%;
        height: 50%;
        margin: 0;
    }
    .maos {
        order: 1;
    }

    .bloco-2-texto {
        text-align: right;
        width: 45%;
    }

    .mapa {
        width: 30%;
        margin: 0 auto;
    }

    .bloco-numeros {
        height: 8em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .numeros {
        font-size: 45px;
    }

    .numeros-texto {
        font-size: 18px;
    }

    .titulo-numeros {
        font-size: 25px;
    }

    .numeros-linha:nth-child(2) {
        padding: 0 1.8em;
        border-top: none;
        border-bottom: none;
        border-right: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;
    }

    .numeros-linha {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
    }

    .botao-quero-doar {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}
