<section class="bloco-atendimentos-espirituais">

    <div class = "bloco-1">
        <h4 class="subtitulo-atendimentos-espirituais">A esperança</h4>
        <h1 class="titulo-atendimentos-espirituais">Os Atendimentos Espirituais</h1>

        <p class="texto-atendimentos-espirituais">Em uma média anual, 40 mil pessoas são atendidas em São Paulo -
            Capital, totalizando em 20 anos mais de 800 mil
            atendimentos espirituais realizados com o Irmão Bezerra de Menezes, os Protetores, Ciganos e Irmãos
            Espirituais
            de Auxílio à Saúde. E esse número só aumenta quando o agregamos ao trabalho das Caravanas de Luz, que, desde
            2006, leva o amparo da espiritualidade e desperta os médiuns em diversas cidades do Brasil.</p>

        <img class="img-atendimentos-espirituais maos" src="assets/atendimento_maos.jpg">

    </div>

    <div class = "bloco-2">
        <p class="texto-atendimentos-espirituais">Não medimos esforços para que esse trabalho possa continuar. Já visitamos
            34 cidades em 5 regiões do Brasil:
            Norte, Nordeste, Centro-Oeste, Sudeste e Sul. Percorremos aproximadamente 100 mil quilômetros para levar essa
            assistência a todos que não têm a oportunidade de nos visitar em São Paulo. Só no Santuário Sara Kali, em Pouso
            Alegre - MG, foram mais de 8 mil atendimentos até hoje, e nas demais cidades estima-se uma média de 50 mil.</p>
    
        <img class="img-atendimentos-espirituais" src="assets/atendimento_mapa.jpg"
            alt="Mapa do Brasil com cidades frequentadas">
    </div>

    <video class="video-atendimentos-espirituais" width="100%" height="450" controls preload
        poster="https://www.publicdomainpictures.net/pictures/190000/velka/black-background-1468370534d5s.jpg">
        <source width="100%" src="assets/MAT_NEU_AMP_CESTA_BASICA_080120.m4v" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <p class="titulo-numeros">A esperança e o amparo em números</p>

    <div class="bloco-numeros">

        <div class="numeros-linha">
            <h2 class="numeros">+858 mil</h2>
            <p class="numeros-texto">atendimentos espirituais</p>
        </div>

        <div class="numeros-linha">
            <h2 class="numeros">+35</h2>
            <p class="numeros-texto">cidades atendidas</p>
        </div>

        <div class="numeros-linha">
            <h2 class="numeros">+100 mil</h2>
            <p class="numeros-texto">km rodados</p>
        </div>

    </div>

    <button class="botao-quero-doar">QUERO DOAR</button>
</section>