@media (max-width: 767px) {
  .cabecalho {
    padding: 1em 2%;
  }
  .cabecalho-navegacao {
    width: 65%;
  }
  .cabecalho-navegacao {
    display: none;
  }
  .botao-doar {
    font-weight: 650;
    font-size: 0.9em;
    width: 4.7em;
    height: 4.5em;
    border-radius: 100%;
  }
}
@media (max-width: 1018px) and (min-width: 768px) {
  .cabecalho {
    padding: 2em 2%;
  }
  .cabecalho-navegacao {
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  .logo-TEMS {
    display: none;
  }
  .botao-doar {
    font-weight: 650;
    font-size: 1em;
    padding: 0.5em 1.3em;
    border-radius: 20px;
  }

  .botao-doar{
    display: none;
  }
}
@media (max-width: 1140px) and (min-width: 1019px) {
  .cabecalho {
    padding: 2em 2%;
  }
  .cabecalho-navegacao {
    width: 75%;
  }
  .botao-doar {
    font-weight: 650;
    font-size: 1em;
    padding: 0.5em 1.3em;
    border-radius: 20px;
  }
  .hamburger {
    display: none;
  }
}
@media (min-width: 1141px) {
  .cabecalho {
    padding: 2em 2%;
  }
  .cabecalho-navegacao {
    width: 65%;
  }
  .botao-doar {
    font-weight: 650;
    font-size: 1em;
    padding: 0.5em 1.3em;
    border-radius: 20px;
  }
  .hamburger {
    display: none;
  }
}
* {
  font-family: "Montserrat" !important;
}

.hamburger-inner::after,
.hamburger-inner::before,
.hamburger-inner {
  background-color: white;
}


.cabecalho {
  font-weight: 500;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-TEMS {
  width: 4em;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.menu-opcao {
  font-size: 0.9em;
}

.menu-opcao-link {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.menu-opcao-link:hover {
  color: gray;
}

.botao-doar {
  background-color: dodgerblue;
  color: white;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
}

.botao-doar:focus{
  outline: none;
}

.hamburger:focus{
  outline: none;
}
.botao-doar:hover {
  background-color: black;
  color: dodgerblue;
}
