<main class="container-main">
    <section class="bloco-principal">
        <div class="linha-cabecalho"></div>
        <div class="bloco-textos">
            <h1 class="titulo-principal"><span class="titulo-personalizado">Você faz parte da</span><br>MUDANÇA</h1>
            <h4 class="subtitulo-principal">A sua ajuda pode levar o alimento do corpo e da alma para centenas de
                pessoas mensalmente. Faça parte, não fique à parte. Contribua e faça a diferença!</h4>
        </div>
    </section>
    <lp-sobre-campanha></lp-sobre-campanha>
    <lp-sobre-casa></lp-sobre-casa>
</main>
