<section class="bloco-sobre-campanha" id="campanha">
  <img class="logo-sostems" src="assets/logo_sostems.jpg" alt="Logo SOS TEMS, ajude a casa de Maria!" />
  <div class="bloco-texto-sobre-campanha">
    <p class="texto-sobre-campanha">
      <span class="texto-personalizado">A Campanha SOS TEMS</span> é destinada a angariar fundos para o
      Templo Espiritual Maria Santíssima. Devido às medidas de restrições
      impostas pelo Governo de São Paulo, em razão da pandemia de Covid-19,<span class="bold"> a Casa de Maria passa por
        uma situação financeira crítica e precisa de ajuda para conseguir pagar as despesas de manutenção da Casa.</span> Por
        isso,
        estamos aqui unidos em um só ideal para que a Casa se mantenha
        aberta e mais pessoas possam ser ajudadas!
    </p>

    <button class="botao-ajude-agora"><a class="botao-pix" href="https://tems.com.br/doacao-pix/" target="_blank">DOAR
        AGORA</a></button>
  </div>
</section>
<lp-sobre-casa></lp-sobre-casa>