* {
  font-family: "Montserrat";
}

.bloco-texto-sobre-campanha {
  margin-right: auto;
}

.texto-sobre-campanha {
  color: #757575;
}

.texto-sobre-campanha:last-of-type {
  margin-bottom: 2em;
}

.texto-personalizado {
  color: #3685df;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.texto-img-despesa {
  margin-top: 1em;
  text-align: center;
  color: #757575;
}

.botao-ajude-agora {
  font-weight: 650;
  font-size: 1.2em;
  padding: 0.6em 2em;
  border-radius: 25px;
  background-color: #3685df;
  color: white;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
}

.botao-ajude-agora:focus {
  outline: none;
}

.botao-ajude-agora:hover {
  background-color: white;
  color: #3685df;
}

.bloco-sobre-campanha {
  width: 90%;
  margin: 5em auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-sostems {
  width: 80%;
  margin: 0 auto;
}

.texto-sobre-campanha {
  font-size: 17px;
  line-height: 20px;
}

.botao-ajude-agora {
  display: block;
  margin: 0 auto;
}

.lista-despesas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em auto;
}

.img-despesa {
  width: 3.5em;
}

@media (max-width: 1018px) and (min-width: 768px) {
  .bloco-sobre-campanha {
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .logo-sostems {
    width: 50%;
  }

  .texto-sobre-campanha {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .lista-despesas {
    width: 90%;
  }

  .img-despesa {
    width: 4.5em;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .bloco-sobre-campanha {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    margin: 6em auto;
  }

  .logo-sostems {
    width: 32%;
  }

  .texto-sobre-campanha {
    font-size: 20px;
    line-height: 25px;
  }

  .lista-despesas {
    width: 90%;
  }

  .img-despesa {
    width: 4.5em;
  }
}

@media (min-width: 1141px) {
  .bloco-sobre-campanha {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    margin: 9em auto;
  }

  .logo-sostems {
    width: 48%;
  }

  .texto-sobre-campanha {
    font-size: 20px;
    line-height: 25px;
  }

  .texto-personalizado {
    font-size: 23px;
  }

  .img-despesa {
    width: 4.5em;
  }

  .botao-ajude-agora {
    margin: 0;
    font-size: 1.5em;
  }
}

@media (min-width: 1600px) {
  .bloco-sobre-campanha {
    width: 62%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9em auto;
  }

  .logo-sostems {
    width: 32%;
  }

  .texto-sobre-campanha {
    font-size: 20px;
    line-height: 25px;
  }

  .lista-despesas {
    width: 90%;
  }

  .img-despesa {
    width: 4.5em;
  }
}
