<section class="bloco-sobre-campanha">
  <img class = "logo-sostems" src="assets/logo_sostems.png" alt = "Logo SOS TEMS, ajude a casa de Maria!"/>
  <div class = "bloco-texto-sobre-campanha">
    <p class = "texto-sobre-campanha">
      <span class = "texto-personalizado">A Campanha SOS TEMS</span> é destinada para angariar fundos para o
      Templo Espiritual Maria Santíssima. Devido às medidas de restrições
      impostas pelo Governo de São Paulo, em razão da pandemia de Covid-19,<span class = "bold">a Casa de Maria passa por uma 
      situação financeira crítica e precisa de ajuda para conseguir pagar as despesas:</span>
    </p>
    <ul class = "lista-despesas">
      <li class = "lista-despesas-opcao">
        <figure>
          <img class = "img-despesa" src="assets/aluguel.jpg" alt="Aluguel" />
          <figcaption class = "texto-img-despesa">Aluguel</figcaption>
        </figure>
      </li>
      <li class = "lista-despesas-opcao">
        <figure>
          <img class = "img-despesa" src="assets/agua.jpg" alt="Água" />
          <figcaption class = "texto-img-despesa">Água</figcaption>
        </figure>
      </li>
      <li class = "lista-despesas-opcao">
        <figure>
          <img class = "img-despesa" src="assets/luz.jpg" alt="Luz" />
          <figcaption class = "texto-img-despesa">Luz</figcaption>
        </figure>
      </li>
      <li class = "lista-despesas-opcao">
        <figure>
          <img class = "img-despesa" src="assets/internet.jpg" alt="Internet" />
          <figcaption class = "texto-img-despesa">Internet</figcaption>
        </figure>
      </li>
    </ul>
    <p class = "texto-sobre-campanha">
      Por isso, estamos aqui unidos em um só ideal para que a Casa se mantenha
      aberta e mais pessoas possam ser ajudadas!
    </p>

    <button class = "botao-ajude-agora">AJUDE AGORA</button>
  </div>
</section>
