*{
  font-family: 'Montserrat';
}

.bloco-sobre-campanha{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-sostems{
  width: 35%;
  margin: 0;
}
