<section class="bloco-doacao"id = "doacao">
    <div class="bloco-1">
        <div class="bloco-1-texto">
            <h4 class="subtitulo-doacao">Caridade é a manifestação mais pura do amor!</h4>
            <h1 class="titulo-doacao">Por que a sua doação é importante?</h1>
            <p class="texto-doacao">Juntos, podemos garantir que a Casa de Maria continue existindo e transformando
                vidas através do amparo e do despertar espiritual. Nos ajude para que esse trabalho possa continuar.
                Pedimos que você possa ser um dos mantenedores da nossa Casa. Qualquer quantia já fará uma enorme
                diferença para nós.
                <br><br>
                As doações podem ser feitas direto pelo nosso Pix:
            </p>
            <div class = "caixa-pix">
                <div class = "pix-titulo">PIX</div>
                <div class = "pix-conteudo">33.457.404/0001-68</div>
            </div>
        </div>
        <img class="img-doacao maos" src="assets/importancia-doacao2.jpg">
    </div>
</section>
<lp-formas-ajudar></lp-formas-ajudar>
