* {
  font-family: "Montserrat";
}

.container-atendimentos-sociais {
  background-color: #fdfaf7;
}

.titulo-personalizado {
  font-family: "Signature";
  color: #ff7e00;
}

.titulo-principal {
  color: #3685df;
  text-align: center;
  font-weight: 600;
}

.bloco-texto-cestas-sacolinhas {
  color: #757575;
  margin-bottom: 2em;
}

.bloco-numeros {
  margin-top: 2em;
  padding-bottom: 1em;
  box-shadow: 0px 5px 10px 0px #dcdcdc;
  background-color: white;
  border-radius: 25px;
  width: 100%;
}

.numeros-linha {
  margin: 2em auto;
  display: flex;
  align-items: center;
  padding: 1em 0;
  box-shadow: 0px 5px 10px 0px #dcdcdc;
  border-radius: 20px;
  width: 90%;
}

.numeros-linha-img{
  width: 15%;
  margin: 0 .5em;
}

.titulo-numeros {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  color: #ff7e00;
  text-align: center;
  padding: 1em 0;
  padding-top: 2em;
}

.numeros-texto {
  color: #757575;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.numeros-personalizado{
  color: #3685df;
  font-size: 22px;
  font-weight: 600;
  padding-right: .5em;
}
.video-atendimentos-sociais {
  margin: 0 auto;
  margin-top: 3em;
}


.bolder {
  font-weight: 600;
}

.slide {
  border-radius: 25px;
}

.botao-ajude-agora {
  font-weight: 650;
  font-size: 1.2em;
  padding: 0.6em 2em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 25px;
  background-color: #ff7e00;
  color: white;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
}

.botao-ajude-agora:focus {
  outline: none;
}

.botao-ajude-agora:hover{
  background-color: #fdfaf7;
  color: #ff7e00;

  .botao-pix{
    color: #ff7e00;
  }
}
.botao-pix {
  text-decoration: none;
  color: white;
}

.botao-pix:hover{
  color: #ff7e00;
}
.bloco-atendimentos-sociais {
  width: 90%;
  margin: 0 auto;
  padding: 5em 0;
}

.titulo-principal {
  font-size: 30px;
}

.titulo-personalizado {
  text-align: center;
  font-size: 40px;
}

.video-atendimentos-sociais {
  width: 100%;
}

.bloco-atendimentos-sociais-cestas-sacolinhas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  padding-bottom: 1em;
}

.slide-cestas{
  order: 2;
}

.texto-cestas{
  order: 1;
}
.slide {
  width: 100%;
}

.bloco-texto-cestas-sacolinhas {
  font-size: 17px;
  line-height: 20px;
  width: 100%;
}

.titulo-cestas-sacolinhas {
  font-size: 22px;
  margin-top: 0.8em;
  font-weight: 650;
  line-height: 40px;
  text-align: left;
  margin-bottom: 0.5em;
}

.titulo-cestas-sacolinhas:last-of-type{
  margin-top: 0;
}


.bloco-numeros-sacolinha{
  background-color: white;
  box-shadow: 0px 5px 10px 0px #dcdcdc;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.numeros-linha-sacolinha {
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: .6em 0;
}

.numeros-linha-sacolinha:nth-child(2) .numeros-sacolinha{
  text-align: center;
  margin: 0 auto;
}

.numeros-linha-img-sacolinha{
  width: 25%;
  margin: 0 .5em;
}

.numeros-sacolinha {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: #ff7e00;
}

.numeros-texto-sacolinha {
  color: #757575;
  font-weight: 500;
  font-size: 13px;
}

.next-button {
  border-style: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  background-color: transparent;
}

.next-button-img{
  width: 100px;
  height: 100px;
}
@media (max-width: 1018px) and (min-width: 768px) {
  .bloco-atendimentos-sociais {
    padding: 4em 0;
  }

  .slide-cestas{
    order: 1;
  }

  .texto-cestas{
    order: 2;
  }

  .video-atendimentos-sociais {
    display: block;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas {
    flex-direction: row;
    margin: 4em 0;
  }

  .slide {
    width: 40%;
  }

  .bloco-texto-cestas-sacolinhas {
    font-size: 20px;
    line-height: 25px;
    width: 55%;
    margin-bottom: 0;
  }

  .titulo-cestas-sacolinhas {
    margin-bottom: 0.7em;
  }

  .titulo-numeros{
    padding: 0 1em;
    font-size: 28px;
    width: 80%;
    text-align: left;
  }

  .bloco-numeros{
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .bloco-numeros-texto{
    width: 120%;
  }

  .numeros-linha{
    margin: 1em auto;
    padding: .3em 0;
  }

  .bloco-numeros-sacolinha-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .numeros-linha-sacolinha{
    width: 33%;
  }

  .numeros-linha-sacolinha:nth-child(2) .numeros-sacolinha{
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
  }

  .botao-ajude-agora{
    width: 75%;
  }
}

@media (max-width: 1140px) and (min-width: 1019px) {
  .bloco-atendimentos-sociais {
    padding: 9em 0;
  }

  .titulo-principal {
    font-size: 50px;
  }

  .slide-cestas{
    order: 1;
  }

  .texto-cestas{
    order: 2;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas {
    flex-direction: row;
    margin: 4em 0;
  }

  .slide {
    width: 40%;
  }

  .bloco-texto-cestas-sacolinhas {
    font-size: 20px;
    line-height: 25px;
    width: 55%;
    margin-left: 0.9em;
  }

  .titulo-personalizado {
    text-align: center;
    font-size: 55px;
  }

  .video-atendimentos-sociais {
    display: block;
  }

  .titulo-cestas-sacolinhas {
    margin-bottom: 0.7em;
    text-align: left;
  }

  .titulo-numeros{
    padding: 0 1em;
    font-size: 28px;
    width: 80%;
    text-align: left;
  }

  .bloco-numeros{
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .bloco-numeros-texto{
    width: 90%;
  }

  .numeros-linha{
    margin: 1em auto;
    padding: .3em 0;
  }

  .bloco-numeros-sacolinha-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .numeros-linha-sacolinha{
    width: 100%;
  }

  .numeros-linha-sacolinha:nth-child(2) .numeros-sacolinha{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
  }

  .bloco-numeros-sacolinha{
    margin-bottom: 5em;
    padding: 1em 0;
    border-radius: 35px;
  }
  .bloco-numeros-sacolinha-div{
    width: 80%;
  }
  .botao-ajude-agora{
    width: 75%;
  }
}

@media (min-width: 1141px) {
  .bloco-atendimentos-sociais {
    width: 80%;
    padding: 9em 0;
  }

  .titulo-principal {
    font-size: 55px;
  }

  .slide-cestas{
    order: 1;
  }

  .texto-cestas{
    order: 2;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas {
    flex-direction: row;
    margin-top: 7em;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas{
    margin-bottom: 4em;
  }

  .slide {
    width: 45%;
  }

  .bloco-texto-cestas-sacolinhas {
    font-size: 20px;
    line-height: 25px;
    width: 55%;
  }

  .bloco-texto-cestas-sacolinhas{
    margin-left: 0;
    margin-right: 2em;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas:first-of-type .bloco-texto-cestas-sacolinhas{
    margin-left: 2em;
    margin-right: 0;
  }

  .titulo-personalizado {
    text-align: center;
    font-size: 60px;
  }

  .video-atendimentos-sociais {
    height: 30em;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }

  .titulo-cestas-sacolinhas {
    margin-bottom: 0.7em;
    text-align: left;
  }

  .titulo-numeros{
    padding: 0 1em;
    font-size: 35px;
    line-height: 40px;
    width: 35%;
    text-align: left;
  }

  .bloco-numeros{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 1.2em;
    border-radius: 50px;
    margin-bottom: 10em;
  }

  .bloco-numeros-texto{
    width: 90%;
  }

  .numeros-linha{
    margin: 1em 0;
    padding: .3em 1.2em;
    width: fit-content;
    border-radius: 22px;
  }

  .numeros-personalizado{
    font-size: 28px;
  }

  .bloco-numeros-texto{
    width: fit-content;
    margin-right: 1em;
  }

  .numeros-linha-img{
    width: 15%;
  }

  .numeros-texto{
    font-size: 17px;
  }

  .bloco-numeros-sacolinha-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .numeros-linha-sacolinha:nth-child(odd){
    width: 18em;
  }

  .numeros-linha-sacolinha:nth-child(2) .numeros-sacolinha{
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
  }

  .numeros-texto-sacolinha{
    font-size: 15px;
  }

  .bloco-numeros-sacolinha{
    margin-bottom: 4em;
    padding: 1em 0;
    border-radius: 35px;
  }

  .numeros-sacolinha{
    font-size: 35px;
    margin-bottom: .2em;
  }

  .numeros-linha-sacolinha{
    margin: .2em auto;
  }
  .bloco-numeros-sacolinha-div{
    width: 100%;
  }
  .botao-ajude-agora{
    font-size: 1.5em;
    width: 75%;
  }

}

@media (min-width: 1600px) {
  .bloco-atendimentos-sociais {
    width: 62%;
    padding: 9em 0;
  }

  .titulo-principal {
    font-size: 55px;
  }

  .slide-cestas{
    order: 1;
  }

  .texto-cestas{
    order: 2;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas {
    flex-direction: row;
    margin-top: 7em;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas{
    margin-bottom: 4em;
  }

  .slide {
    width: 45%;
  }

  .bloco-texto-cestas-sacolinhas {
    font-size: 20px;
    line-height: 25px;
    width: 55%;
  }

  .bloco-texto-cestas-sacolinhas{
    margin-left: 0;
    margin-right: 2em;
  }

  .bloco-atendimentos-sociais-cestas-sacolinhas:first-of-type .bloco-texto-cestas-sacolinhas{
    margin-left: 2em;
    margin-right: 0;
  }

  .titulo-personalizado {
    text-align: center;
    font-size: 60px;
  }

  .video-atendimentos-sociais {
    height: 30em;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }

  .titulo-cestas-sacolinhas {
    margin-bottom: 0.7em;
    text-align: left;
  }

  .titulo-numeros{
    padding: 0 1em;
    font-size: 35px;
    line-height: 40px;
    width: 35%;
    text-align: left;
  }

  .bloco-numeros{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 1.2em;
    border-radius: 50px;
    margin-bottom: 10em;
  }

  .bloco-numeros-texto{
    width: 90%;
  }

  .numeros-linha{
    margin: 1em 0;
    padding: .3em 1.2em;
    width: fit-content;
    border-radius: 22px;
  }

  .numeros-personalizado{
    font-size: 28px;
  }

  .bloco-numeros-texto{
    width: fit-content;
    margin-right: 1em;
  }

  .numeros-linha-img{
    width: 15%;
  }

  .numeros-texto{
    font-size: 17px;
  }

  .bloco-numeros-sacolinha-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .numeros-linha-sacolinha:nth-child(odd){
    width: 18em;
  }

  .numeros-linha-sacolinha:nth-child(2) .numeros-sacolinha{
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
  }

  .numeros-texto-sacolinha{
    font-size: 15px;
  }

  .bloco-numeros-sacolinha{
    margin-bottom: 4em;
    padding: 1em 0;
    border-radius: 35px;
  }

  .numeros-sacolinha{
    font-size: 35px;
    margin-bottom: .2em;
  }

  .numeros-linha-sacolinha{
    margin: .2em auto;
  }
  .bloco-numeros-sacolinha-div{
    width: 100%;
  }
  .botao-ajude-agora{
    font-size: 1.5em;
    width: 75%;
  }
}
