<section class="container-atendimentos-sociais"id = "atendimentos-sociais">
  <div class="bloco-atendimentos-sociais">
    <h4 class="titulo-personalizado">O alimento do corpo e da alma</h4>
    <h1 class="titulo-principal">Projetos Assistenciais</h1>

    <section class="bloco-atendimentos-sociais-cestas-sacolinhas">
      <img class="slide slide-cestas" src="assets/cestas-basicas.jpg" />
      <article class="bloco-texto-cestas-sacolinhas texto-cestas">
        <h4 class="titulo-cestas-sacolinhas">
          Entrega de Cestas Básicas
        </h4>
        <p>
          Nesse tempo, as orientações e os esclarecimentos da Espiritualidade
          Superior vêm sendo trazidos e colocados em prática, diariamente, por
          meio da mediunidade e da caridade, em todo o mundo, presencial e
          virtualmente.
        </p>
      </article>
    </section>

    <section class="bloco-numeros">

      <h2 class="titulo-numeros">O alcance da entrega de cestas básicas até hoje...</h2>

      <div class = "bloco-numeros-texto">
        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/entregador.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">40 mil</span> cestas básicas entregues</p>
        </div>

        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/familia.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">7 mil</span> famílias ajudadas</p>
        </div>

        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/comida.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">+21 mil</span> pessoas alimentadas</p>
        </div>
      </div>


    </section>

    <section class="bloco-atendimentos-sociais-cestas-sacolinhas">
      <article class="bloco-texto-cestas-sacolinhas">
        <h4 class="titulo-cestas-sacolinhas">
          Entrega de Sacolinhas de Natal
        </h4>
        <p>
          Nesse tempo, as orientações e os esclarecimentos da Espiritualidade
          Superior vêm sendo trazidos e colocados em prática, diariamente, por
          meio da mediunidade e da caridade, em todo o mundo, presencial e
          virtualmente.
        </p>
      </article>
      <img class="slide" src="assets/sacolinhas-de-natal.jpg" />
    </section>

    <section class="bloco-numeros-sacolinha">

      <div class = "bloco-numeros-sacolinha-div">
        <div class="numeros-linha-sacolinha">
          <img class="numeros-linha-img-sacolinha" src="assets/sacola.jpg">
          <div>
            <h2 class="numeros-sacolinha">6,2 mil</h2>
            <p class="numeros-texto-sacolinha">sacolinhas de natal entregues</p>
          </div>
        </div>

        <div class="numeros-linha-sacolinha">
          <h2 class="numeros-sacolinha">=</h2>
        </div>

        <div class="numeros-linha-sacolinha">
          <img class="numeros-linha-img-sacolinha" src="assets/crianca.jpg">
          <div>
            <h2 class="numeros-sacolinha">6,2 mil</h2>
            <p class="numeros-texto-sacolinha">crianças e famílias</p>
          </div>
        </div>
      </div>

    </section>

    <video class="video-atendimentos-sociais" width="100%" controls preload>
      <source width="100%" src="assets/MAT_NEU_AMP_INSTITUCIONAL_CESTAS.m4v" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <button class="botao-ajude-agora"><a class = "botao-pix" href = "https://tems.com.br/doacao-pix/" target="_blank">QUERO CONTRIBUIR</a></button>
    <button class = "next-button" (click) = "mudaBloco()"><img class = "next-button-img" src = "assets/arrow.png"></button>
  </div>

</section>
