<section class="container-atendimentos-sociais" id="atendimentos-sociais">
  <div class="bloco-atendimentos-sociais">
    <h4 class="titulo-personalizado">O alimento do corpo e da alma</h4>
    <h1 class="titulo-principal">Projetos Assistenciais</h1>

    <section class="bloco-atendimentos-sociais-cestas-sacolinhas">
      <img class="slide slide-cestas" src="assets/cestas-basicas2.jpg" />
      <article class="bloco-texto-cestas-sacolinhas texto-cestas">
        <h4 class="titulo-cestas-sacolinhas">
          Entrega de Cestas Básicas
        </h4>
        <p>
          Desde 2004, realizamos a entrega de Cestas Básicas para famílias carentes todo último domingo de cada mês.
          Mais de 200 famílias recebem essa assistência durante 6 meses, para que possam se reerguer e dar a vez para
          outras famílias após o período. Veja quais foram os resultados ao longo desses 17 anos:
        </p>
      </article>
    </section>

    <section class="bloco-numeros">

      <h2 class="titulo-numeros">O alcance da entrega de cestas básicas até hoje...</h2>

      <div class="bloco-numeros-texto">
        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/entregador2.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">40 mil</span> cestas básicas entregues</p>
        </div>

        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/familia2.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">7 mil</span> famílias ajudadas</p>
        </div>

        <div class="numeros-linha">
          <img class="numeros-linha-img" src="assets/comida2.jpg">
          <p class="numeros-texto"><span class="numeros-personalizado">+21 mil</span> pessoas alimentadas</p>
        </div>
      </div>


    </section>

    <section class="bloco-atendimentos-sociais-cestas-sacolinhas">
      <article class="bloco-texto-cestas-sacolinhas">
        <h4 class="titulo-cestas-sacolinhas">
          Entrega de Sacolinhas de Natal
        </h4>
        <p>
          E, desde 2007, entregamos, em comemoração ao Natal, sacolinhas de presentes às crianças carentes da comunidade
          em São Paulo/SP e, desde 2018, no Instituto Colônia Esperança - Pouso Alegre/MG. Em 14 anos, entregamos uma
          média de 6.200 sacolinhas!

        </p>
      </article>
      <img class="slide" src="assets/sacolinhas-de-natal2.jpg" />
    </section>

    <section class="bloco-numeros-sacolinha">

      <div class="bloco-numeros-sacolinha-div">
        <div class="numeros-linha-sacolinha">
          <img class="numeros-linha-img-sacolinha" src="assets/sacola.jpg">
          <div>
            <h2 class="numeros-sacolinha">6,2 mil</h2>
            <p class="numeros-texto-sacolinha">sacolinhas de natal entregues</p>
          </div>
        </div>

        <div class="numeros-linha-sacolinha">
          <h2 class="numeros-sacolinha">=</h2>
        </div>

        <div class="numeros-linha-sacolinha">
          <img class="numeros-linha-img-sacolinha" src="assets/crianca.jpg">
          <div>
            <h2 class="numeros-sacolinha">6,2 mil</h2>
            <p class="numeros-texto-sacolinha">crianças e famílias</p>
          </div>
        </div>
      </div>

    </section>

    <video class="video-atendimentos-sociais" width="100%" controls preload>
      <source width="100%" src="assets/MAT_NEU_AMP_INSTITUCIONAL_CESTAS.m4v" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <button class="botao-ajude-agora"><a class="botao-pix" href="https://tems.com.br/doacao-pix/" target="_blank">QUERO
        CONTRIBUIR</a></button>
    <button class="next-button" (click)="mudaBloco()"><img class="next-button-img" src="assets/arrow4.png"></button>
  </div>

</section>